.rubber {
	box-shadow: 0 0 0 3px blue, 0 0 0 2px blue inset;  
	border: 2px solid transparent;
	border-radius: 4px;
	display: inline-block;
	padding: 5px 2px;
	line-height: 22px;
	color: blue;
	font-size: 24px;
	font-family: 'Black Ops One', cursive;
	text-transform: uppercase;
	text-align: center;
	opacity: 0.4;
	width: 250px;
	transform: rotate(-25deg);
	position: absolute;
	top: 50%;
}