.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(70, 70, 70, .9);
    visibility: hidden;
}

.popup {
    position: absolute;
    top: 30vh;
    height: 40vh;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 45vw;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup .close {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
}
.popup .close:hover {
    color: RED;
}
.popup .content {
    max-height: 50vh;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

.popup .content {
    margin: 3vh 2vw;
}

.popup h2 {
    margin: 1vh 0;
    text-align: center;
}