@media all and (max-width: 1000px){
    table {
        width: 100%;
    }
}
@media all and (min-width: 1000px){
    table {
        width: 70%;
    }
}
table {
    border-collapse: collapse;
    margin: 0 auto;
}
th, td {
    padding: 8px;
}
th:not(.shop_name) ,td:not(.shop_name) {
    width:1%;
    white-space:nowrap;
    text-align: center;
}
th {
    border-bottom: 1px solid WHITE;
    background-color: BLACK;
    color: white;
}
tr:nth-child(odd) td {
    background-color: LIGHTGRAY;
}
tr:nth-child(odd) .days_disabled, tr:nth-child(odd).shops_disabled td, tr:nth-child(odd).shops_locked td  {
    color: WHITE !important;
    background-color: DIMGRAY !important;
}
tr:nth-child(even) .days_disabled, tr:nth-child(even).shops_disabled td, tr:nth-child(even).shops_locked td {
    color: WHITE !important;
    background-color: DARKGRAY !important;
}
.w_h_hide {
    display: none;
}
#not_table {
    text-align: center;
    margin: 10px;
}
#not_table *{
    text-align: center;
    margin: 5px;
}
button {
    border-radius: 50%;
    padding: 15px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
button:hover {
    background-color: #555555;
    color: white;
    cursor: pointer;
}
input {
    border-radius: 9999em;
    padding: 5px 15px 5px 15px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="time"]::-webkit-clear-button {
    display: none;
}
* {
    outline: none;
}
.dayOptions, .costOptions {
    width: 100px;
}
.shop_type_checkboxes_container, .category_checkboxes_container, .locations_checkboxes_container {
    width: 150px;
    height: 20px;
    position: relative;
}
.shop_type_checkboxes_container *, .category_checkboxes_container *, .locations_checkboxes_container * {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}
.dayOptions, .costOptions, .shop_type_checkboxes_container, .category_checkboxes_container, .locations_checkboxes_container {
    align: center;
    display: inline-block;
    margin:0 10px;
}
.dayOptions input[type=radio], .costOptions input[type=radio] {
    display: none;
}
.dayOptions label, .costOptions label, .costOptions label {
    color: #A7A7A7;
    cursor: pointer;
}
.dayOptions input[type=radio]:checked ~ label, .costOptions input[type=radio]:checked ~ label {
    color: #464646;
    font-weight: bold;
}
* {
    box-sizing: border-box;
}
.type_filter, .category_cb, .locations_cb {
    display: none;
}

.type_filter + label, .category_cb + label , .locations_cb + label {
    display: inline-block;
    position: relative;
    width: 52px;
    height: 26px;
    background: linear-gradient(to right, #696969 0, #808080 45%, #A9A9A9 55%, #C0C0C0 100%) 0 0;
   background-size: 120px 100%;
    border-radius: 26px;
    padding: 7px;
    cursor: pointer;
    transition: all 500ms ease;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) inset;
}
.type_filter + label:before, .category_cb + label:before, .locations_cb + label:before {
    content: "Off";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 3px;
    top: 3px;
    border-radius: 100%;
    background: #fff;
    text-align: center;
    line-height: 20px;
    font-family: "Cabin", sans-serif;
    font-size: 7px;
    font-weight: bold;
    color: #696969;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: left 500ms ease, color 500ms ease, -webkit-transform 150ms ease;
    transition: left 500ms ease, color 500ms ease, transform 150ms ease;
    transition: left 500ms ease, color 500ms ease, transform 150ms ease, -webkit-transform 150ms ease;
}
.type_filter + label:active:before, .category_cb + label:active:before, .locations_cb + label:active:before {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.type_filter:checked + label, .category_cb:checked + label, .locations_cb:checked + label {
    background-position-x: -65px;
}
.type_filter:checked + label:before, .category_cb:checked + label:before, .locations_cb:checked + label:before {
    content: "On";
    color: #C0C0C0;
    left: 26px;
}
.not_day, .days_disabled {
    font-size: 5px;
    padding: 0px !important;
}
.shop_name {
    width:20%;
}
.per_filter {
    width: 150px;
}
.hide {
    display: none;
}
.costOptions input[type='radio']:checked#cost_opt_veryhigh ~ label {
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet) !important;
    background-size: 50% auto !important;
    color: #000 !important;
    background-clip: text !important;
    text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-animation: shine 5s linear infinite !important;
    animation: shine 5s linear infinite !important;
}
@-webkit-keyframes shine {
    to {
        background-position: 200% center;
    }
}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}
.text_container {
  transform: translate(12.5vw, 0);
}
.text_container {
 font-size: 20px;
  overflow: auto;
  border: 1px solid LIGHTGRAY;
  width: 70vw;
  height:10vh;
}
.text_container div #pick_day {
    transform: translateY(2.9vh);
}
.text_container div p {
    padding: 2px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid LIGHTGRAY;
    margin: 1em 0;
    padding: 0; 
}